body {
  margin: 0;
  background: #f7f7f7;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#certificate {rwe
  position: relative;
  display: inline-block;
}

#bg {
  width: 1000px; /* adjust if needed */
}

#memberName {
  position: absolute;
  top: 400px;   /* adjust until name fits perfectly */
  left: 300px;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

#memberQr {
  position: absolute;
  top: 380px;  /* place small QR near name */
  right: 150px;
}

.buttons {
  margin-top: 20px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
